.tickBox {
  transition: filter 0.5s;
  cursor: pointer;
}

.tickBox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.tickBox:hover {
  filter: brightness(1.5);
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px 8px 2px 12px;
}

.buttonText {
  margin-right: 7px;
}
