.tick {
  stroke: var(--light-grey);
}

.hideTick svg{
  width: 0;
}

.background {
  fill: var(--charcoal);
}

.tickCover {
  transform: translate(0px);
  transition: transform 0.4s;
}

.tickCoverChecked {
  transform: translate(1000px);
}

.ghostTick {
  opacity: 0.07
}
