.goal {
  padding: 20px;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.completionContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.completionContainer > label {
  margin-right: 10px;
}

.deleteGoalContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.newGoalButtonContainer {
  margin-left: 10px;
}

.newGoalButton {
  background-color: var(--green);
}
