.goal {
  padding: 20px;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.spacer {
  width: 10px;
}

.newGoalButton {
  background-color: var(--green);
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
  }

  .spacer {
    width: 0;
    height: 10px;
  }

  .completion button {
    justify-content: center;
  }

  .completion p {
    margin-left: 7px;
  }
}
