.header {
  padding: 10px;
  background-color: var(--charcoal);
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.selectedDateLabel {
  color: var(--light-grey);
  margin-right: 10px;
}

.goalsLink {
  margin-left: auto;
  margin-right: 10px;
  color: white;
}

.button {
  background-color: var(--red);
  color: var(--light-grey);
}
