.header {
  padding: 10px;
  background-color: var(--charcoal);
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.headerContents {
  margin-left: auto;
}

.hamburger {
  display: none;
  margin-left: auto;
}

.selectedDateLabel {
  color: var(--light-grey);
  margin-right: 10px;
}

.link {
  margin-right: 10px;
  color: white;
}

.button {
  background-color: var(--red);
  color: var(--light-grey);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .headerContents {
    display: none;
    margin-left: initial;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .selectedDateLabel {
    margin-bottom: 5px;
  }

  .link, .selectedDate {
    margin-bottom: 20px;
  }
}

  .headerContentsMobile {
    display: flex;
    flex-direction: column;
  }

