.goal {
  background-color: var(--light-grey);
  border-radius: 3px;
  padding: 10px;
  margin: 20px;
  display: block;
  text-decoration: none;
  color: var(--charcoal);
  display: flex;
}

.goalName {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}
