.goal {
  background-color: var(--light-grey);
  border-radius: 3px;
  padding: 10px;
  margin: 20px;
  display: block;
  text-decoration: none;
  color: var(--charcoal);
  display: flex;
  align-items: center;
}

.goalName {
  font-size: 25px;
  font-weight: 800;
}

.completionContainer {
  margin-left: auto;
}
